/*Popular City*/
body{
  overflow-x: hidden;
}
.carview {
  display: block;
  position: relative;
  width: 100%;
  height: 80vh;
  margin-bottom: 10px;
  padding: 0px 0px 300px 0;
  background-image: url('../images/carback.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
.title-head {
  width: 100%;
  margin: 0 auto;
  padding: 220px 262px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  color: #fff;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}
.fourth-link {
  width: 100%;
  margin: 0 auto;
  padding-top: 40px;
  margin-bottom: 75px;
  box-sizing: border-box;
}
.fourth-head {
  font-family: 'IBM Plex Sans';
  font-weight: 900;
  font-size: 40px;
  text-align: center;
}
.fourth-list{
  margin: 0 auto;
  margin-left: 40px;
}
.fourth-list li:nth-of-type(3n) {
  margin-right: 0;
}

.card-p {
  border-radius: 10px;
  float: left;
  background-color: #f3f3f3;
  width: 30%;
  height: 400px;
  margin: 47px 29px 8px 0;
  padding-bottom: 5px;
}
.fourth-list li img{
  height: 200px;
  width: 400px;
}
.para {
  position: relative;
  padding: 38px 0px 30px 0px;
  text-align: center;
}

.p1 {
  margin-bottom: 8px;
  color:black;
  font-family: 'IBM Plex Sans';
  font-weight: 700;
  font-size: 20px;
}

.p2 {
  font-family: 'IBM Plex Sans';
  font-weight: 900;
  font-size: 16px;
}

/*Package*/
.project-content{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0px 0px;
}
.project-card{
  width: 30%;
  height: 300px; 
  position: relative;
  margin: 20px 0px;
}
.project-card-bg{
  position: absolute;
  height: 100%;
  transition: all 0.5s ease-in-out;
  
}
.project-card-bg img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}
.name {
  text-align: center;
  position: absolute;
  width: 30%;
  margin-left: 145px;
  padding: 10px;
  border-radius: 5px;
  background-color: #4dffff;
  opacity: 0.8;
  border: 1px solid #f3f3f3;
  bottom: 20px;
  color: green;
}
.name:hover{
  background-color: #f3f3f3;
}
.name a{
  font-size: 20px;
}
.name a:hover{
  color: green;
}
.project-card-bg:hover{
  transform: scale(1.05);
  border: none;
 
}
.project-btn{
  text-decoration: none;
  color: #fff;
  padding: 10px 10px;
  background-color: #1abc9c;
  display: inline-block;
  border-radius: 20px;

}
.project-btn:hover{
  background-color: #fff;
  border-radius: 20px;
  color: #000;
  border: 1px solid #1abc9c;
}

.project-card-bg::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(to top, #fd4, transparent);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.project-card-bg:hover:after{
  opacity: 1;
}
.txt-view{
  margin-bottom: 30px;
  text-align: center;
}
.txt-view a{
  margin-top: 40px;
  font-size: 20px;
  color: #000;
}
.txt-view button{
  padding: 10px 20px;
  border: 1px solid transparent;
  background-color: #1abc9c;
  border-radius: 8px;
  color: #fff;
}
.txt-view button:hover{
  border: 1px solid #1abc9c;
  color: #1abc9c;
  background-color: #fff;
  border-radius: 8px;
}
.home-car{
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
.car-lp{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 30px;
}
.car-sec{
  width: 30%;
  margin-bottom: 50px;
  background-color: #f3f3f3;
}
.car-sec  img{
  height: 200px;
  width: 100%;
}
.car-name{
  font-size: 30px;
  padding: 10px 0px;
  color: green;
}
.car-price {
  font-size: 20px;
  margin: 0px 0px 20px 190px;
}
.dua{
  margin-bottom: 10px;
}
.dua i {
  position: relative;
}
.dua strong {
  position: absolute;
}
.boo{
  text-align: center;
  border: 1px solid transparent;
  background-color:#1abc9c;
  padding: 15px 0px;
  color: #fff;
}
.boo:hover{
  color: #1abc9c;
  background-color: #fff;
  border: 1px solid #1abc9c;
}

/*Blog*/
.home-blog{
  margin: 0 auto;
}
.blogpost{
  margin-bottom: 100px;
}
.card-post{
  margin: 0px 10px;
}
.card-post-img img {
  width: 100%;
  height: 250px;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}

.blogpost .card-post .card-post-data {
  text-align: left;
}

.blogpost .card-post .card-post-data span {
  font-weight: 600;
  text-transform: uppercase;
  color: var(--main-color);
}
.blogpost .card-post .card-post-data small {
  font-weight: 300;
  color: #959595;
}
.blogpost .card-post .card-post-data h5 {
  font-weight: 500;
  margin-top: 0.7rem;
  color: var(--text-color);
}


@media screen and (min-width : 768px) and (max-width : 1160px) {
  /*Popular City*/
  body{
    overflow-x: hidden;
  }
.fourth-link {
  padding-top: 40px;
  margin-bottom: 75px;
}

.fourth-head {
  font-size: 40px;
}
.fourth-list{
  margin-left: 18px;
}

.fourth-list li {
  border-radius: 10px;
  width: 30%;
  height: 330px;
  margin: 47px 29px 8px 0;
  padding-bottom: 5px;
}
.fourth-list li img{
  height: 200px;
  width: 400px;
}
.para {
  padding: 38px 0px 30px 0px;
}

.p1 {
  margin-bottom: 8px;
  font-size: 20px;
}

.p2 {
  font-size: 16px;
}
.txt-para{
  font-size: 13px;
}

/*Package*/
.project-content{
  width: 100%;
  padding: 30px 0px;
}
.project-card{
  width: 30%;
  height: 223px; 
  margin: 20px 0px;
}
.project-card-bg{
  height: 100%; 
}
.project-card-bg img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.project-card-text{
  width: 100%;
  bottom: 20px;
}
.project-btn{
  padding: 10px 10px;
  border-radius: 20px;

}
.project-btn:hover{
  border-radius: 20px;
}

.project-card-bg::after{
  width: 100%;
  height: 100%;
}
.project-card-bg:hover:after{
  opacity: 1;
}
.txt-view a{
  font-size: 20px;
}
.txt-view button{
  padding: 10px 20px;
  border-radius: 8px;
}
.txt-view button:hover{
  border-radius: 8px;
}
.name{
  font-size: 30px;
  margin-left: 102px;
}
.home-car{
  width: 100%;
  margin-bottom: 50px;
}
.car-lp{
  padding-top: 30px;
  margin-bottom: 30px;
}
.car-sec{
  width: 30%;
}
.car-sec  img{
  height: 200px;
  width: 100%;
}
.car-name{
  font-size: 30px;
  padding: 10px 0px;
}
.car-price {
  font-size: 16px;
  margin: 0px 0px 20px 86px;
}
.dua{
  margin-bottom: 10px;
}

.boo{
  padding: 15px 0px;
}

/*Blog*/
.home-blog .blog-post{
  margin-bottom: 30px;
  width: 100%;
}
.card-post{
  margin: 0px 10px;
  width: 84%;
  margin-left: 34px;
}
.card-post-img {
  width: 100%;
  height: 250px;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}
.card-post-data {
  text-align: left;
}

.card-post-data span {
  font-weight: 600;
}
.card-post-data small {
  font-weight: 300;
}
.card-post-data h5 {
  font-weight: 500;
  margin-top: 0.7rem;
}
.slick-prev:before {
  position: absolute;
  content: url('../images/img-left-arrow.png');
  opacity: 1;
}

.slick-next:before {
  position: absolute;
  content: url('../images/img-right-arrow.png');
  opacity: 1;
}

.home-blog .slick-prev {
  top:30%;
  left: 30px;
  z-index: 1;
}

.home-blog .slick-next {
  top: 30%;
  right: 50px;
}
}

@media screen and (max-width:767.9px) {
  body{
    overflow-x: hidden;
  }
.fourth-link {
  padding-top: 40px;
  margin-bottom: 75px;
}

.fourth-head {
  font-size: 40px;
}
.fourth-list{
  margin-left: 18px;
}

.fourth-list li {
    border-radius: 10px;
    width: 30%;
    height: 366px;
    margin: 47px 6px 8px 8px;
    padding-bottom: 5px;
}
.fourth-list li img{
  height: 200px;
  width: 400px;
}
.para {
  padding: 38px 0px 30px 0px;
}

.p1 {
  margin-bottom: 8px;
  font-size: 20px;
}

.p2 {
  font-size: 16px;
}

/*Package*/
.project-content{
  width: 100%;
  padding: 30px 0px;
}
.project-card{
  width: 30%;
  height: 300px; 
  margin: 20px 0px;
}
.project-card-bg{
  height: 100%; 
}
.project-card-bg img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.project-card-text{
  width: 100%;
  bottom: 20px;
}
.project-btn{
  padding: 10px 10px;
  border-radius: 20px;

}
.project-btn:hover{
  border-radius: 20px;
}

.project-card-bg::after{
  width: 100%;
  height: 100%;
}
.project-card-bg:hover:after{
  opacity: 1;
}
.txt-view a{
  font-size: 20px;
}
.txt-view button{
  padding: 10px 20px;
  border-radius: 8px;
}
.txt-view button:hover{
  border-radius: 8px;
}
.name{
  padding: 10px;
  margin-left: 66px;
}
.name a{
  font-size: 10px;
}
.home-car{
  width: 100%;
  margin-bottom: 50px;
}
.car-lp{
  padding-top: 30px;
  margin-bottom: 30px;
}
.car-sec{
  width: 30%;
}
.car-sec  img{
  height: 200px;
  width: 100%;
}
.car-name{
  font-size: 14px;
  padding: 10px 0px;
}
.car-price {
  font-size: 10px;
    margin: 0px 0px 20px 30px;
}
.dua{
  margin-bottom: 10px;
}

.boo{
  padding: 15px 0px;
}

/*Blog*/
.blogpost{
  margin-bottom: 30px;
  width: 100%;
}
.card-post{
  margin: 0px 10px;
  width: 84%;
  margin-left: 34px;
}
.card-post-img {
  width: 100%;
  height: 250px;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}
.card-post-data {
  text-align: left;
}

.card-post-data span {
  font-weight: 600;
}
.card-post-data small {
  font-weight: 300;
}
.card-post-data h5 {
  font-weight: 500;
  margin-top: 0.7rem;
}
.slick-prev:before {
  position: absolute;
  content: url('../images/img-left-arrow.png');
  opacity: 1;
}

.slick-next:before {
  position: absolute;
  content: url('../images/img-right-arrow.png');
  opacity: 1;
}

.home-blog .slick-prev {
  top:30%;
  left: 30px;
  z-index: 1;
}

.home-blog .slick-next {
  top: 30%;
  right: 50px;
}
}

@media screen and (max-width:480px) {
  body{
    overflow-x: hidden;
  }
.fourth-link {
  padding-top: 40px;
  margin-bottom: 75px;
}

.fourth-head {
  font-size: 40px;
}
.fourth-list{
  margin-left: 18px;
}

.fourth-list li {
    border-radius: 10px;
    width: 30%;
    height: 253px;
    margin: 47px 11px 8px 0;
    padding-bottom: 5px;
}
.fourth-list li img{
  height: 118px;
  width: 400px;
}
.para {
  padding: 38px 0px 30px 0px;
}
.txt-para{
  font-size: 10px;
}
.p1 {
  margin-bottom: 8px;
  font-size: 20px;
}

.p2 {
  font-size: 16px;
}

/*Package*/
.project-content{
  width: 100%;
  padding: 30px 0px;
}
.project-card{
  width: 30%;
  height: 187px; 
  margin: 20px 0px;
}
.project-card-bg{
  height: 100%; 
}
.project-card-bg img{
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
.project-card-text{
  width: 100%;
  bottom: 20px;
}
.project-btn{
  padding: 10px 10px;
  border-radius: 20px;

}
.project-btn:hover{
  border-radius: 20px;
}

.project-card-bg::after{
  width: 100%;
  height: 100%;
}
.project-card-bg:hover:after{
  opacity: 1;
}
.txt-view a{
  font-size: 20px;
}
.txt-view button{
  padding: 10px 20px;
  border-radius: 8px;
}
.txt-view button:hover{
  border-radius: 8px;
}
.name{
  font-size: 20px;
  padding: 10px;
}
.home-car{
  width: 100%;
  margin-bottom: 50px;
}
.car-lp{
  padding-top: 30px;
  margin-bottom: 30px;
}
.car-sec{
  width: 30%;
}
.car-sec  img{
  height: 200px;
  width: 100%;
}
.car-name{
  font-size: 14px;
  padding: 10px 0px;
}
.car-price {
  font-size: 10px;
    margin: 0px 0px 20px 30px;
}
.dua{
  margin-bottom: 10px;
}

.boo{
  padding: 15px 0px;
}

/*Blog*/
.home-blog .blog-post{
  margin-bottom: 30px;
  width: 100%;
}
.card-post{
  margin: 0px 10px;
  width: 84%;
  margin-left: 34px;
}
.card-post-img img{
  width: 100%;
  height: 250px;
  border-radius: 0.7rem;
  margin-bottom: 1rem;
}
.card-post-data {
  text-align: left;
}

.card-post-data span {
  font-weight: 600;
}
.card-post-data small {
  font-weight: 300;
}
.card-post-data h5 {
  font-weight: 500;
  margin-top: 0.7rem;
}
.slick-prev:before {
  position: absolute;
  content: url('../images/img-left-arrow.png');
  opacity: 1;
}

.slick-next:before {
  position: absolute;
  content: url('../images/img-right-arrow.png');
  opacity: 1;
}

.home-blog .slick-prev {
  top:30%;
  left: 30px;
  z-index: 1;
}

.home-blog .slick-next {
  top: 30%;
  right: 50px;
}
}