/*Post-blade*/
.Travelblog {
  display: block;
  position: relative;
  width: 100%;
  height: 50vh;
  margin-bottom: 10px;
  padding: 0px 0px 300px 0;
  background-image: url('../images/balloon.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.l-inner {
  margin: 0 auto;
  max-width: 1281px;
}

.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #DF8453;
  --color-2: #3D8DAE;
  --color-3: #E4A9A8;
}

.title-word-2 {
  --color-1: #DBAD4A;
  --color-2: #ACCFCB;
  --color-3: #17494D;
}

.title-word-3 {
  --color-1: #ACCFCB;
  --color-2: #E4A9A8;
  --color-3: #ACCFCB;
}

.title-word-4 {
  --color-1: #3D8DAE;
  --color-2: #DF8453;
  --color-3: #E4A9A8;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }

  32% {
    color: var(--color-1);
  }

  33% {
    color: var(--color-2);
  }

  65% {
    color: var(--color-2);
  }

  66% {
    color: var(--color-3);
  }

  99% {
    color: var(--color-3);
  }

  100% {
    color: var(--color-1);
  }
}

.title_heading {
  width: 100%;
  margin: 0 auto;
  padding: 86px 262px 0px;
  font-family: "Montserrat", sans-serif;
  font-size: 56px;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
}

.blog .blog-text {
  padding-top: 90px;
  color: white;
  text-decoration: underline solid lightcyan 10%;
  text-align: center;
}

.container-blog {
  position: relative;
  margin-bottom:0px;
}

.container-blog .row {
  margin: 0 auto;
  max-width: 1281px;
}

.container-blog .img-title {
  font-size: larger;
  font-weight: 700;
  text-align: center;

}

.container-blog .blogpost {
  width: 348px;
  padding: 10px;
}

/*.container-blog .blogpost:nth-child(3n){
  margin-right: 10px;
}*/
.blogpost li {
  margin-bottom: 30px;
}

.blogpost .card-post {
  border: 2px solid #fff;
  box-shadow: 1px 1px 15px #ccc;
}

.blogpost .card-post .post-data {
  margin: 12px 10px 12px;
  text-transform: capitalize;
}

.blogpost .card-post .post-data span {
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
}

.blogpost .card-post .post-data small {
  color: #959595;
  font-weight: 300;
}

.blogpost .card-post .post-data h5 {
  margin-top: 0.7rem;
  color: var(--text-color);
  font-weight: 500;
}

.blogpost .blogImg {
  width: 100%;
  height: 214.5px;
  padding-bottom: 50px;
}

.blogpost .blogImg img {
  border-radius: 5px;
}

/*Slick Slider*/
.slick-prev:before {
  position: absolute;
  content: url('../images/img-left-arrow.png');
  opacity: 1;
}

.slick-next:before {
  position: absolute;
  content: url('../images/img-right-arrow.png');
  opacity: 1;
}

.slick-prev {
  top: 31%;
  left: 9px;
  z-index: 1;
}

.slick-next {
  top: 31%;
  right: 78px;
}

.acc-container {
  width: 450px;
  margin-left: 85px;
  max-width: 700px;
}

.acc {
  margin-bottom: 10px;
}

.acc p {
  font-size: 15px;

}

.acc-head {
  position: relative;
  padding: 15px 10px;
  background-color: #3D8DAE;
  font-size: 22px;
  cursor: pointer;
}

.acc-head::before,
.acc-head::after {
  position: absolute;
  top: 50%;
  background-color: #fff;
  content: '';
  transition: all .3s;
}

.acc-head::before {
  right: 30px;
  width: 3px;
  height: 20px;
  margin-top: -10px;
}

.acc-head::after {
  right: 21px;
  width: 20px;
  height: 3px;
  margin-top: -2px;
}

.acc-head p {
  color: #fff;
  font-weight: bold;
}

.acc-content {
  display: none;
  padding: 15px 10px;
}

.acc-head.active::before {
  transform: rotate(90deg);
}


/*PostDetail*/
.blogDetail {
  width: 100%;
  margin-top: 70px;
  margin-bottom: 10px;
  padding-right: 200px;
  padding-left: 200px;
}

.postDetail {
  display: flex;
  position: relative;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, .125);
  background-color: #fff;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  border-radius: 6.5px;
}

.postDetail img {
  width: 75%;
  margin-top: 30px;
}

.postDetail .detailData {
  margin-top: 20px;
  margin-left: 30px;
}

.postDetail .detailData span {
  color: var(--main-color);
  font-weight: 600;
  text-transform: uppercase;
}

.postDetail .detailData .dataTitle {
  margin-top: 5px;
}

.postDetail .postBody {
  padding: 30px;
}

.post-body p {
  margin-top: 2rem;
  text-align: left;
}

.read-more {
  display: inline-block;
  margin: 4px 2px;
  padding: 7px 9px;
  border: none;
  background-color: #ACCFCB;
  color: #000000;
  font-size: 16px;
  font-weight: 400;

  text-decoration: none;
  text-align: center;
  cursor: pointer;

}

.read-more:hover {
  background-color: #3D8DAE;
  font-weight: bold;
}

#more {
  display: none;
}

.container .txt-left {
  float: left;
}

.container .txt-right {
  float: right;
}

/* Ipad */
@media screen and (min-width : 768px) and (max-width : 1160px) {

  /*Post-blade*/
  .Travelblog {
    display: block;
    position: relative;
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
    padding: 0px 0px 300px 0;
    background-image: url('../images/balloon.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  }

  .l-inner {
    margin: 0 auto;
    max-width: 1110px;
  }

  .title_heading {
    width: 100%;
    padding: 163px 125px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 800;

  }

  .blog .blog-text {
    padding-top: 90px;
    color: white;
    text-decoration: underline solid lightcyan 10%;
    text-align: center;
  }

  .container-blog {
    position: relative;
    margin-bottom: 0px;
  }

  .container-blog .row {
    margin: 0 auto;
    max-width: 1281px;
  }

  .container-blog .img-title {
    font-size: larger;
    font-weight: 700;
    text-align: center;

  }

  .container-blog .blogpost {
    width: 348px;
    padding: 10px;
    max-width: 1110px;
  }

  /*.container-blog .blogpost:nth-child(3n){
  margin-right: 10px;
}*/
  .blogpost li {
    margin-bottom: 30px;
  }

  .blogpost .card-post {
    border: 2px solid #fff;
    box-shadow: 1px 1px 15px #ccc;
  }

  .blogpost .card-post .post-data {
    margin: 12px 10px 12px;
    text-transform: capitalize;
  }

  .blogpost .card-post .post-data span {
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
  }

  .blogpost .card-post .post-data small {
    color: #959595;
    font-weight: 300;
  }

  .blogpost .card-post .post-data h5 {
    margin-top: 0.7rem;
    color: var(--text-color);
    font-weight: 500;
  }

  .blogpost .blogImg {
    width: 100%;
    height: 214.5px;
    padding-bottom: 50px;
  }

  .blogpost .blogImg img {
    border-radius: 5px;
  }

  /*Slick Slider*/
  .slick-prev:before {
    position: absolute;
    content: url('../images/img-left-arrow.png');
    opacity: 1;
  }

  .slick-next:before {
    position: absolute;
    content: url('../images/img-right-arrow.png');
    opacity: 1;
  }

  .container-blog .slick-prev {
    top:30%;
    left: 9px;
    z-index: 1;
  }

  .container-blog .slick-next {
    top: 30%;
    right: 38px;
  }

  .intro-package .intro-left .blogImg1 {
    width: 650px;
    margin: 0 auto;
    /* margin-left: 276px; */
    /* width: 47%; */
    border-radius: 1.302vw;
  }

  .acc-container {
    width: 650px;
    margin: 0 auto;
    max-width: 700px;
  }

  .acc {
    margin-bottom: 10px;
  }

  .acc p {
    font-size: 15px;

  }

  .acc-head {
    position: relative;
    padding: 15px 10px;
    background-color: #3D8DAE;
    font-size: 22px;
    cursor: pointer;
  }

  .acc-head::before,
  .acc-head::after {
    position: absolute;
    top: 50%;
    background-color: #fff;
    content: '';
    transition: all .3s;
  }

  .acc-head::before {
    right: 30px;
    width: 3px;
    height: 20px;
    margin-top: -10px;
  }

  .acc-head::after {
    right: 21px;
    width: 20px;
    height: 3px;
    margin-top: -2px;
  }

  .acc-head p {
    color: #fff;
    font-weight: bold;
  }

  .acc-content {
    display: none;
    padding: 15px 10px;
  }

  .acc-head.active::before {
    transform: rotate(90deg);
  }

  /*PostDetail*/
  .blogDetail {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 10px;
    padding-right: 200px;
    padding-left: 200px;
  }

  .postDetail {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 6.5px;
  }

  .postDetail img {
    width: 75%;
    margin-top: 30px;
  }

  .postDetail .detailData {
    margin-top: 20px;
    margin-left: 30px;
  }

  .postDetail .detailData span {
    font-weight: 600;
  }

  .postDetail .detailData .dataTitle {
    margin-top: 5px;
  }

  .postDetail .postBody {
    padding: 30px;
  }

  .read-more {
    margin: 4px 2px;
    padding: 7px 9px;
    font-size: 16px;
  }
}

/* Mobile */
@media screen and (max-width:767.9px) {

  /*Post-blade*/
  .Travelblog {
    width: 100%;
    height: 50vh;
    margin-bottom: 10px;
    padding: 0px 0px 300px 0;
  }

  .l-inner {
    width: 98%;
    margin: 0 auto;
    max-width: 93.75vw;
  }

  .title_heading {
    width: 100%;
    padding: 163px 125px 0px;
    font-family: "Montserrat", sans-serif;
    font-size: 40px;
    font-weight: 800;

  }

  .blog .blog-text {
    padding-top: 90px;
    color: white;
    text-decoration: underline solid lightcyan 10%;
    text-align: center;
  }

  .container-blog {
    position: relative;
    margin-bottom: 0px;
  }

  .container-blog .row {
    margin: 0 auto;
    max-width: 1281px;
  }

  .container-blog .img-title {
    font-size: larger;
    font-weight: 700;
    text-align: center;

  }

  .container-blog .blogpost {
    width: 300px;
    padding: 10px;
  }

  /*.container-blog .blogpost:nth-child(3n){
  margin-right: 10px;
}*/
  .blogpost li {
    margin-bottom: 30px;
  }

  .blogpost .card-post {
    border: 2px solid #fff;
    box-shadow: 1px 1px 15px #ccc;
  }

  .blogpost .card-post .post-data {
    margin: 12px 10px 12px;
    text-transform: capitalize;
  }

  .blogpost .card-post .post-data span {
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
  }

  .blogpost .card-post .post-data small {
    color: #959595;
    font-weight: 300;
  }

  .blogpost .card-post .post-data h5 {
    margin-top: 0.7rem;
    color: var(--text-color);
    font-weight: 500;
  }

  .blogpost .blogImg {
    width: 100%;
    height: 214.5px;
    padding-bottom: 50px;
  }

  .blogpost .blogImg img {
    border-radius: 5px;
  }

  /*Slick Slider*/
  .slick-prev:before {
    position: absolute;
    content: url('../images/img-left-arrow.png');
    opacity: 1;
  }

  .slick-next:before {
    position: absolute;
    content: url('../images/img-right-arrow.png');
    opacity: 1;
  }

  .container-blog .slick-prev {
    top: 22%;
    left: 2px;
  }

  .container-blog .slick-next {
    top: 22%;
    right: 37px;
  }

  .intro-package .intro-left .blogImg1 {
    width: 650px;
    margin: 0 auto;
    /* margin-left: 276px; */
    /* width: 47%; */
    border-radius: 1.302vw;
  }

  .acc-container {
    width: 350px;
    margin: 0 auto;
    max-width: 700px;
  }

  .acc {
    margin-bottom: 10px;
  }

  .acc p {
    font-size: 15px;

  }

  .acc-head {
    position: relative;
    padding: 15px 10px;
    background-color: #3D8DAE;
    font-size: 22px;
    cursor: pointer;
  }

  .acc-head::before,
  .acc-head::after {
    position: absolute;
    top: 50%;
    background-color: #fff;
    content: '';
    transition: all .3s;
  }

  .acc-head::before {
    right: 30px;
    width: 3px;
    height: 20px;
    margin-top: -10px;
  }

  .acc-head::after {
    right: 21px;
    width: 20px;
    height: 3px;
    margin-top: -2px;
  }

  .acc-head p {
    color: #fff;
    font-weight: bold;
  }

  .acc-content {
    display: none;
    padding: 15px 10px;
  }

  .acc-head.active::before {
    transform: rotate(90deg);
  }

  /*PostDetail*/
  .blogDetail {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 10px;
    padding-right: 200px;
    padding-left: 200px;
  }

  .postDetail {
    width: 350px;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 6.5px;
  }

  .postDetail img {
    width: 75%;
    margin-top: 30px;
  }

  .postDetail .detailData {
    margin-top: 20px;
    margin-left: 30px;
  }

  .postDetail .detailData span {
    font-weight: 600;
  }

  .postDetail .detailData .dataTitle {
    margin-top: 5px;
  }

  .postDetail .postBody {
    padding: 30px;
  }

  .read-more {
    margin: 4px 2px;
    padding: 7px 9px;
    font-size: 16px;
  }

}